# lists

In [14]:
# let's make a list of books

books = ["daytripper", "twilight", "the stranger", "l'etranger", "1984", "ethan fromme"]

In [15]:
# list indexing: how you pick out items from a list
# we always start counting with 0
# the index 3 will then pick out the 4th item from the list

books[3]

"l'etranger"

In [17]:
# negative numbers start at the end of the list

books[-1]

'ethan fromme'

In [18]:
# list slicing: getting a section of a list

books[0:3]

['daytripper', 'twilight', 'the stranger']

In [6]:
# the first value is inclusive, and the last is exclusive

books[1:5]

['twilight', 'the stranger', "l'etranger", '1984']

In [8]:
# the colon in between the first and last values means everything when
# on its own

books[:]

['daytripper',
 'twilight',
 'the stranger',
 "l'etranger",
 '1984',
 'ethan fromme']

In [12]:
# you can use the colon to indicate everything before an item

books[:3]

['daytripper', 'twilight', 'the stranger']

In [13]:
# or you can use the colon to indicate everything after an item

books[3:]

["l'etranger", '1984', 'ethan fromme']

## list methods

In [19]:
# list methods

# methods are functions that are tied to objects. 

# print() is a function, because it can stand alone
print("hello")

hello

In [20]:
# upper is a method because it's tied to the 'hello' object

'hello'.upper()

'HELLO'

In [22]:
books.append('white noise')

In [23]:
books

['daytripper',
 'twilight',
 'the stranger',
 "l'etranger",
 '1984',
 'ethan fromme',
 'white noise']

In [24]:
books.append('rebecca')

In [25]:
books

['daytripper',
 'twilight',
 'the stranger',
 "l'etranger",
 '1984',
 'ethan fromme',
 'white noise',
 'rebecca']

In [26]:
books.pop()

'rebecca'

In [27]:
books.sort()

In [29]:
books

['1984',
 'daytripper',
 'ethan fromme',
 "l'etranger",
 'the stranger',
 'twilight',
 'white noise']

In [30]:
books.insert(1, 'the iliad')

In [31]:
books

['1984',
 'the iliad',
 'daytripper',
 'ethan fromme',
 "l'etranger",
 'the stranger',
 'twilight',
 'white noise']

## dipping into NLTK

In [33]:
import nltk
from nltk.book import *

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [37]:
text8[:30]

['25',
 'SEXY',
 'MALE',
 ',',
 'seeks',
 'attrac',
 'older',
 'single',
 'lady',
 ',',
 'for',
 'discreet',
 'encounters',
 '.',
 '35YO',
 'Security',
 'Guard',
 ',',
 'seeking',
 'lady',
 'in',
 'uniform',
 'for',
 'fun',
 'times',
 '.',
 '40',
 'yo',
 'SINGLE',
 'DAD']

In [40]:
text7.similar('woman')

high new company plant one place slide interest average share holding
transaction house fall decision dinner decline drop state purchase